/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    /* Color variables */
    --primary-color: #2a3719;
    --secondary-color: #5f6c39;
    --teritary-color: #ddd5ba;
    --supplementary-color-1: #e04b32;
    --supplementary-color-2: #cd8741;

    /* Typography variables */
    --primary-font: "Luckiest Guy", sans-serif;
    --secondary-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: #1f1f1f;
    background: #ded5ba;
}

a {
    color: #4a4a4a;
}

/* Navbar */

.navbar-item img {
    max-height: 4rem;
}

.navbar-burger {
    margin-top: 1rem;
    margin-right: 1rem;
}

/* Leaderboard */

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    margin-top: 50px;
}

.leaderboard {
    min-width: 50vw;
    max-width: 90vw;
    background: white;
    padding: 30px;
    border-radius: 10px;
    font-family: var(--secondary-font);
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content ol {
    margin-left: 0;
    margin-top: 0;
}

li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style-position: inside;
    white-space: normal;
}

.leaderboard-heading {
    display: flex;
    justify-content: space-between;
}

.leaderboard-item {
    border-bottom: 1px solid var(--teritary-color);
}

#gold-medal {
    color: #daa520;
}

#silver-medal {
    color: #c0c0c0;
}

#bronze-medal {
    color: #a52a2a;
}

.shhh {
    color: var(--teritary-color);
    font-size: 2.8rem;
}

/* Quiz */

#quiz-section {
    width: 50%;
    margin-bottom: 100px;
}

.questions {
    font-family: var(--primary-font);
}

.answers label {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.answers input[type="radio"] {
    display: none;
}

/* Footer */

.main {
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
}

.footer {
    padding: 2rem 1.5rem;
}

.social-links {
    font-size: 1.2rem;
}

.social-links a {
    padding: 0 1.2rem;
}

.answers input[type="radio"]:checked + label {
    background: var(--primary-color);
    color: var(--supplementary-color-2);
}

.answers label:hover {
    background: var(--secondary-color);
    color: white;
}

/* Privacy */

.priv-play {
    background-color: var(--supplementary-color-2);
    color: var(--teritary-color);
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    display: flex;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.priv-play:hover {
    background-color: var(--supplementary-color-1);
    color: var(--teritary-color);
}

/* Accessibility */

ul.accessibility-list {
    list-style-type: none;
}

.accessibility-list-item {
    justify-content: normal;
}

ul .accessibility-list-item::before {
    content: '';
    display: inline-block;
    min-height: 25px;
    min-width: 25px;
    background-image: url("../images/happy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Seamus says egg */
.secret-message {
    position: relative;
    padding: 5px;
}

.secret-message .img-top {
    display: none;
}

.secret-message:hover .img-top {
    display: inline;
}

/* 404/500 pages */

#bg-alt-color {
    background: #000000;
}

.centering {
    display: flex;
    align-items: center;
}

.error-desc {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--teritary-color);
}

.error-img {
    display: block;
    margin: 0 auto;
}

.border-left {
    border-left: 3px solid #ffffff;
    stroke-linecap: round;
}
