/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  /* Color variables */
  --primary-color: #2a3719;
  --secondary-color: #5f6c39;
  --teritary-color: #ddd5ba;
  --supplementary-color-1: #e04b32;
  --supplementary-color-2: #cd8741;

  /* Typography variables */
  --primary-font: "Luckiest Guy", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #1f1f1f;
  background: #ded5ba;
}

a {
  color: #4a4a4a;
}

/* Navbar */

.navbar-item img {
  max-height: 4rem;
}

.navbar-burger {
  margin-top: 1rem;
  margin-right: 1rem;
}

/* Leaderboard */

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  margin-top: 50px;
}

.leaderboard {
  width: 50vw;
  background: white;
  padding: 30px;
  border-radius: 10px;
  font-family: var(--secondary-font);
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  padding: 5px;
  display: flex;
  gap: 1rem;
  list-style-position: inside;
}

.leaderboard-item {
  border-bottom: 1px solid var(--teritary-color);
}

/* Quiz */

#quiz-section {
  width: 50%;
}

.questions {
  font-family: var(--primary-font);
}

.answers label {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.answers input[type="radio"] {
  display: none;
}

/* Footer */

.main {
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
}

.footer {
  padding: 2rem 1.5rem;
}

.social-links {
  font-size: 1.2rem;
}

.social-links a {
  padding: 0 1.2rem;
}
.answers input[type="radio"]:checked + label {
  background: var(--primary-color);
  color: var(--supplementary-color-2);
}

.answers label:hover {
  background: var(--secondary-color);
  color: white;
}

/* Privacy */
.priv-play {
  background-color: #faad60;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  display: flex;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.priv-play:hover {
  background-color: #e04b32;
  color: #fff;
}
